@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 

*/
html {
  @apply scroll-smooth leading-[1.8];
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-bg-second;
}
.bg-radial {
  background: radial-gradient(295.56% 249.54% at 2.89% 5.88%,
      #c22f7f 0%,
      #8329ca 100%);
}
/* grid */
.angry-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
  grid-template-areas: 
 'label0 label2 label2 label2 label2 label6 label6'
 'label0 label3 label3 label3 label3 label6 label6'
 'label1 label3 label3 label3 label3 label6 label6'
 'label1 label4 label4 label5 label5 label5 label5'
 'label1 label4 label4 label5 label5 label5 label5';
  
  gap: 20px;
  height: 100%;
  
}
 
#item-0 {

  grid-area: label0;
  
}
#item-1 {

  background-color: #F9995E; 
  grid-area: label1;
  
}
#item-2 {

  background-color: #5B7BAC; 
  grid-area: label2;
  
}
#item-3 {

  background-color: #55F57B; 
  grid-area: label3;
  
}
#item-4 {

  background-color: #9696DF; 
  grid-area: label4;
  
}
#item-5 {

  background-color: #D965AF; 
  grid-area: label5;
  
}
#item-6 {

  background-color: #5E9E6D; 
  grid-area: label6;
  
}
